<title>{{title}}</title>
<div class="navbar navbar-fixed-top">

  <div class="navbar-inner">

    <div class="container">

      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <a class="brand" href="index.html">
        {{title}}
        {{data.username}}
        {{data.password}}
      </a>

      <div class="nav-collapse">
        <ul class="nav pull-right">

          <li class="">
            <a href="signup.html" class="">
              Don't have an account?
            </a>

          </li>

          <li class="">
            <a href="index.html" class="">
              <i class="icon-chevron-left"></i>
              Back to Homepage
            </a>

          </li>
        </ul>

      </div><!--/.nav-collapse -->

    </div> <!-- /container -->

  </div> <!-- /navbar-inner -->

</div> <!-- /navbar -->
<div class="account-container">

  <div class="content clearfix">

    <form action="#" method="post">

      <h1>Member Login</h1>

      <div class="login-fields">

        <h1> {{mydata.status}}  </h1>

        <div class="field">
          <label for="username">Username</label>
          <input type="text" id="username" name="username" value="" placeholder="Username" class="login username-field" />
        </div> <!-- /field -->

        <div class="field">
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" value="" placeholder="Password" class="login password-field"/>
        </div> <!-- /password -->

      </div> <!-- /login-fields -->

      <div class="login-actions">

				<span class="login-checkbox">
					<input id="Field" name="Field" type="checkbox" class="field login-checkbox" value="First Choice" tabindex="4" />
					<label class="choice" for="Field">Keep me signed in</label>
				</span>

        <button class="button btn btn-success btn-large" (click)="getRandomQuote()">Sign In</button>

      </div> <!-- .actions -->



    </form>

  </div> <!-- /content -->

</div> <!-- /account-container -->
<div class="login-extra">
  <a href="#">Reset Password</a>
</div> <!-- /login-extra -->
